SECRET_KEY="CHANGE-ME"

# 0 False, 1 True
DEBUG="1"

# Comma Separated Values
ALLOWED_HOSTS="127.0.0.1, localhost"

DB_ENGINE="django.db.backends.mysql"
MYSQL_DB="CHANGE-ME"
MYSQL_USER="CHANGE-ME"
MYSQL_PASSWORD="CHANGE-ME"
MYSQL_HOST="localhost"
MYSQL_PORT="3306"
