{% extends "blog/base.html" %}

{% block content %}
  <main class="main-content section-wrapper">
    <div class="section-content-narrow">
      <div class="section-gap">
        <h1 class="center">A page 😍</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illum quas 
          modi, nostrum expedita quasi dolores exercitationem minima unde eos 
          aliquid doloremque aperiam eligendi. Reprehenderit eius esse at sequi 
          consequuntur ipsam?</p>
      </div>
    </div>
  </main>
{% endblock content %}
